*{ box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: url(../images/03.jpg) no-repeat;
    background-size: 100%;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    background: #00000075;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back section{
    width: 90%;
    height: 85%;
    /* border-radius: 10px; */
    /* padding: 10px; */
    background: #fff;
    display: flex;
}

.flex{ display: flex;}
.justify-center { justify-content: center;}
.align-center { align-items: center;}

section .img{
    width: 40%;
    height: 100%;
    overflow: hidden;
}
section nav{
    width: 20%;
    height: 100%;
}
nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background: #f7f2f2;
}
nav ul li{
    list-style: none;
}
ul li a{
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 15px 10px;
    color: #009387;
    margin: 10px 0;
    text-align: center;
    font: normal bold 18px calibri;
}
ul li:hover a{
    background: #2fc4bc;
    color: #fff;
}
ul li.active a{
    background: #009387;
    color: #fff;
}
img{ width: 100%}
img.sm-img{
    width: 120px;
    height: 120px;
    border: 2px solid #009387;
    border-radius: 20px;
    box-shadow: 0 0 10px #009387;
}
section form, section .liste{
    width: 40%;
    height: 100%;
    border-left: 15px solid #009387;
    padding: 10px 40px;
}
form h3, section h3{
    font: normal bold 30px calibri;
    color: #009387;
    margin: 10px 0;
    margin-top: 0;
}
form label{
    display: block;
    font: normal bold 16px calibri;
    color: #6e6e6e;
    margin: 5px 0;
}
form input, select{
    display: block;
    width: 100%;
    height: 35px;
    border: 1px solid #dfdfdf;
    color: #444444;
    font: normal bold 16px calibri;
    padding: 0 10px;
}
form input[type="submit"]{
    background: #009387;
    margin-top: 10px;
    border: none;
    color: #fff;
}


section .liste{ width: 80%; display: flex; justify-content: center;align-items: flex-start; overflow-y: auto; overflow-x: hidden; }
table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
    font: normal bold 16px calibri;
    color: #333;
}
thead{
    width: 100%;
    height: 35px;
    background: #009387;
    color: #fff;
}
tr{
    width: 100%;
    height: 35px;
}
th{ text-align-last: left;}
tr a{ text-decoration: none;}
tr a img{ width: 20px; height: 20px;}
tr:hover td{
    color: #009387;
}
.green{ color: #009387 !important; }
.cart{
    width: 500px;
    height: 250px;
    /* border: 1px solid #dfdfdf; */
    border-radius: 10px;
    background: linear-gradient(to top left, #009387, 3%, #ffffff);
}
.cart .cart-head{
    width: 100%;
    height: 100px;
    overflow: hidden;
}
.cart-head img{
    width: 100%;
}
.cart .cart-body{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
}
.cart-body .profil{
    width: 150px;
    height: 100%;
}
.profil img{
    width: 120px;
    height: 120px;
}
.cart-body .desc{
    width: calc(500px - 150px);
    height: 100%;
    padding: 0 20px;
}
.cart-body .desc span{
    display: block;
    font: normal bold 18px calibri;
    color: #333;
    margin: 3px 0;

}