* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #a4c3a2;
  margin-top: auto;
  width: 100%;
  height: 70px;
}
header {
  background-color: #d7f9fa;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid grey;
}
a {
  text-decoration: none;
}
.li {
  list-style: none;
  display: inline-block;
  margin: 30px 0 0 10px;
}

.footer-liste {
  text-align: center;
}

.logo-div {
  width: 50%;
  margin: 10 0 0 1%;
}
.header-main {
  display: flex;
}
.header-liste {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 70px;
  width: 70px;
}
.recherche {
  height: 30px;
  margin: 20px 20px 0 0;
  border-color: grey;
}
button {
  /* display: inline-block; */
  background-color: #5d7b6f;
  height: 30px;
  width: 80px;
  text-align: center;
  /* border-radius: 20%; */
}
